// sass --watch app/sass/styles.scss app/globals.css
@use "./components/reviewCardComponent";
@use "./components/footerComponent";

@use "./components/headerComponent";
@use "./components/cotizaComponent";
@use "./components/imagenParallaxComponent";
@use "./components/navbarComponent";

@use "./sections/home/homeSecondSection";
@use "./sections/home/homeThirdSection";
@use "./sections/home/homeFourthSection";
@use "./sections/home/homeFifthSection";
@use "./sections/home/homeSixthSection";
@use "./sections/home/homeSeventhSection";

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}


.color-negro {
    color: #1E1E1E;
}

.radius-24 {
    border-radius: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
li,
button,
input,
textarea,
select {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-display: swap;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    border: none;
}

h1 {
    font-weight: 600;
    font-size: 40px;
}

h2,
h3 {
    font-size: 32px;
    font-weight: 500;
}

p {
    font-size: 14px;
    font-weight: 400;
}

a,
button {
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

section {
    padding: 72px;
}

.sectionTitleContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;

    h2,
    p {
        color: #1E1E1E;
        text-align: center;
    }

    p {
        font-size: 14px;
        text-align: center;
    }
}

body {
    background-color: #EEEEEE;
}

main {
    position: relative;
    z-index: 2;
    margin-bottom: 100vh;
    background-color: #EEEEEE;
}

.verMasButton {
    background-color: #138E03;
    box-shadow: 0px -2px 4px 0px #1E1E1E1A inset;
    box-shadow: 0px 1px 2px 0px #FFFFFF33 inset;
    border-radius: 8px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: #79DB6C;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}